AWS_ACCESS_KEY_ID=local
AWS_ENDPOINT_URL_DYNAMODB=http://localhost:8000
AWS_REGION=eu-west-2
AWS_SECRET_ACCESS_KEY=local
BUS=local
COGNITO_CLIENT_ID=local
DEV_IDP_USERS=demo@txtlocal.local,sub@txtlocal.local
PUBLIC_BASE_URL=http://localhost:3000
SMS_ALLOWED_COUNTRIES=GB,US,CA
SMS_MODE=fake
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
TABLE_NAME=txtlocal-local
UNSUBSCRIBE_SECRET=local-unsubscribe-secret
